/*      ------------------   图片html搬运css-------------------         */
#blue_frame{
	position: absolute;
	top:-44px;
	left:-49px; 
	z-index: 1;
}	/* 蓝色块的木头框 */ 
#article_words_fruit{
	position: relative;
	width: 250px;
	height: 100px;
	border-radius: 20px;
	margin: 10px 0px 0px 50px;
}/*艺术字*/
#apple_button{
	width:100px;
	height: 100px;
	margin: 10px 0px 0px 50px;
	position: relative;
	z-index: 5;
	border-radius: 20px;
}/*苹果图片*/
#watermelon_button{
	width:100px;
	height: 100px;
	margin: 10px 0px 0px 50px;
	position: relative;
	z-index: 5;
	border-radius: 20px;
}/*西瓜图片*/
#grape_button{
	width:100px;
	height: 100px;
	margin: 10px 0px 0px 50px;
	position: relative;
	z-index: 5;
	border-radius: 20px;
}/*葡萄图片*/
#and_so_on{
	width:100px;
	height: 100px;
	margin: 10px 0px 0px 50px;
	position: relative;
	z-index: 5;
	border-radius: 20px;
}/*尽情期待*/